.expenses-form {
    margin-top: 50px;
}

.btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sbm-btn {
    width: 100px;
    margin-bottom: 20px;
}

.select-name {
    background: #fff;
    border: 1px solid #ced4da;
    border-radius: 3px;
    height: 46px;
    outline: none;
    width: 100%;
}

.totalusd, 
.totaluah {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    height: 46px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
