.repo-form {
    margin-top: 2rem;
}

.my-input {
    width: 100%;
}

table, td, th {
  border: 1px solid #ccc;
}

td,th {
  padding: 8px;
  text-align: center;
}


.table-title {
  display: block;
  text-align: center;
}

.table-custom {
  border-collapse: collapse;
  border-color: blue;
}

.section {
  margin-bottom: 2rem;
}

.pos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

@media only screen and (max-width: 1060px) {
 .section {
  overflow-x: scroll;
  }
}

.my-row {
  margin-left: 3rem;
}