.repo-form {
    margin-top: 2rem;
}

.my-input {
    width: 100%;
}

table, td, th {
  border: 1px solid #ccc;
}

.table-custom {
  border-collapse: collapse;
  border-color: blue;
}

.section {
  margin-bottom: 2rem;
}