$primary:       #28a745 !default;
$secondary:     #007bff !default;
$danger:        #dc3545 !default;
$warning:       #ffbb00 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;

$theme-colors: (
    "primary": #28a745,
    "secondary": #007bff,
    "danger": #dc3545,
    
);

