.sidenav-container {
  height: 100%;

}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,0.24);
}
.sidenav-menu-btn {
  font-size: 2rem;
}
.sidenav .mat-toolbar {
  background: inherit;
}
.mat-drawer-container {
  position: unset;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.menu-btn {
  outline: none;
}
.user-avatar {
  max-width: 50px;
  border-radius: 50%;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  justify-content: space-between;
  min-height: 5rem;
}
.nav-item {
  padding: 0.5rem;
  font-size: 1.5rem;
}