<mat-sidenav-container class="sidenav-container" [hasBackdrop]="true">
  <mat-sidenav 
      #sidenav
      #drawer
      class="sidenav" 
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      
      opened="false"
      mode="over">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
     
      <a mat-list-item class="nav-link" (click)="drawer.close()" routerLink="/dashboard/expenses"> 
        <i class="fas fa-angle-double-down"></i>
              Expenses
      </a>
      <a mat-list-item class="nav-link" (click)="drawer.close()" routerLink="/dashboard/income"> 
        <i class="fas fa-dollar-sign"></i>
              Income
      </a>
      <a mat-list-item class="nav-link" (click)="drawer.close()" routerLink="/dashboard/salaries"> 
        <i class="fas fa-money-bill-alt"></i>
              Salaries
      </a>
      <a mat-list-item class="nav-link" (click)="drawer.close()" routerLink="/dashboard/reports"> 
        <i class="fas fa-file-alt"></i>
              Reports
      </a>
      <a mat-list-item class="nav-link" (click)="onSingOuth()">
         <i class="fas fa-sign-out-alt"></i>
              Log out
      </a>
      <a mat-list-item class="nav-link" (click)="BindingGoogle()"> 
        <i class="fab fa-google-plus-g"></i>
              Вinding
      </a>
      <a mat-list-item (click)="bindingFacebook()"> 
        <i class="fab fa-facebook-f"></i>
              Вinding
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        class="menu-btn"
        (click)="sidenav.toggle()">
         <i class="fas fa-bars"></i>
      </button>
      <span>Bookkeeping</span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
