


<mat-sidenav-container class="sidenav-container" [hasBackdrop]="true">
  <mat-sidenav 
      #sidenav
      class="sidenav" 
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      
      opened="false"
      mode="over">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
     
      <a mat-list-item href="#" class="nav-link active" (click)="onSingOuth()">
         <i class="fas fa-sign-out-alt"></i>Log out
      </a>
      <a mat-list-item href="#" class="nav-link" (click)="BindingGoogle()"> 
        <i class="fab fa-google-plus-g"></i>
              Вinding
      </a>
      <a mat-list-item href="#" (click)="bindingFacebook()"> 
        <i class="fab fa-google-plus-g"></i>
              Вinding
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        (click)="sidenav.toggle()"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        class="sidenav-menu-btn">
         <i class="fas fa-bars"></i>
      </button>
      <mat-menu #appMenu="matMenu">
        <div class="dropdovn-main-menu">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" (click)="onSingOuth()">
                <i class="fas fa-sign-out-alt"></i>Log out
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="BindingGoogle()">
                <i class="fab fa-google-plus-g"></i>
                Вinding
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="bindingFacebook()">
                <i class="fab fa-facebook"></i>
                Вinding
              </a>
            </li>
          </ul>
        </div>
      </mat-menu>
      <ng-container *ngIf="authService.userData as user">
         <img 
         [matMenuTriggerFor]="appMenu"
          class="user-avatar" 
          src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
          alt="{{user.displayName}}">
      </ng-container>
      
    </mat-toolbar>
    <!-- Add Content Here -->
    
  </mat-sidenav-content>
   
</mat-sidenav-container>
