@import './app/theme/_theme.scss';
@import "~bootstrap/scss/bootstrap.scss";
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
.error-message {
  color: red;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 13px;
  position: static; 
}
.media-body h1 {
  font-weight: 300;
  margin-bottom: 20px;
}

.media-body h1 strong {
  font-weight: 600;
}

.media-body p {
  margin-bottom: 10px;
  font-weight: 300;
}

.media-body p strong {
  margin-bottom: 10px;
  font-weight: 600;
}

.px-logo {
  display: flex;
  justify-content: center;
  clear: both;
  margin: 0 auto 20px;
  width: 220px;
}

.px-logo a img {
  width: 100%;
}

.displayTable {
  display: table;
  width: 100%;
  height: 100%;
  background: $primary;
}

.displayTableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

h3 {
  text-align: center;
  font-size: 22px;
  margin: 0 0 20px;
}

.authBlock {
  margin: 0 auto;
  max-width: 400px;
  background: white;
  padding: 30px 40px 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, .04);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .04);
}

label {
  display: block;
  font-size: 13px;
  padding-bottom: 5px;
  font-weight: 600;
}

.formGroup {
  margin-bottom: 20px;
  float: left;
  width: 100%;
}

.formControl {
  width: 100%;
  display: block;
  padding: 15px 15px 14px;
  border: 2px solid #e7e7e7;
  outline: none;
  font-size: 15px;
  color: #444444;
  background: #fcfcfc;
}

.formControl:focus {
  border: 2px solid #d3d3d6
}

input::-webkit-input-placeholder {
  color: #BBBBBB;
}

input::-moz-placeholder {
  color: #BBBBBB;
}

input:-ms-input-placeholder {
  color: #BBBBBB;
}

input:-moz-placeholder {
  color: #BBBBBB
}

.displayTable .btn {
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 0;
  background: #15CD72;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

.displayTable .btn:hover {
  opacity: .88;
}

.displayTable .btnSecondary {
  background: #EEEEEE;
  color: #404040;
}

.displayTable .googleBtn {
  background: #eb5e4c;
}

.displayTable .facebookBtn {
  background: #5d82d1;
}

.or {
  text-align: center;
  display: block;
  color: #a0a0a0;
  background: white;
  position: relative;
  margin: 5px 0 0px;
}

.orInner {
  background: white;
  display: inline-block;
  z-index: 4;
  position: relative;
  padding: 0 12px;
}

.or:before {
  position: absolute;
  content: '';
  left: 0;
  top: 11px;
  width: 100%;
  height: 1px;
  background: #e2e2e2;
}

.forgotPassword {
  text-align: center;
  margin: -12px 0 15px 0;
  float: left;
  width: 100%;
}

.forgotPassword span {
  color: #3C89EF;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
  padding-top: 20px;
}

.redirectToLogin {
  padding: 15px 0 0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  display: block;
  color: rgba(255, 255, 255, .6);
}

.redirectToLogin .redirect {
  cursor: pointer;
  color: #ffffff;
  text-decoration: underline;
}

.nav-link {
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #dde0e2;
  cursor: pointer;
}

.sidebar .nav-link.active,
.sidebar a:hover,
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: #E91E63;
  background: #efefef;
}

/* * Content */
[role="main"] {
  padding-top: 48px;
}



i {
  width: 22px;
  text-align: center;
  margin-right: 5px;
}

.inner-adjust {
  padding: 0 20px;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: none;
}

/* Nav */
.brand-logo {
  max-width: 25px;
}

.pt-3,
.py-3 {
  padding-top: 2.4rem !important;
}
.sidenav-container {
  height: 100%;
 
}
.mat-toolbar.mat-primary {
  background: $primary;
}
.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,0.24);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.menu-btn {
  outline: none;
  font-size: 2rem;
}
.user-avatar {
  max-width: 50px;
  border-radius: 50%;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  justify-content: space-between;
  min-height: 5rem;
}
.nav-item {
  padding: 0.5rem;
  font-size: 1.5rem;
}


/* Form */
label {
  font-weight: 500;
}

.form-control:focus {
  border-color: #00BCD4;
  box-shadow: none;
}

.form-control {
  font-size: 14px;
  height: 3rem;
}
.input-group-text.is-invalid {
  border: 1px solid ;
  border-color: $danger;
}
.input-group-text.is-valid {
  border: 1px solid ;
  border-color: $primary;
}
/* Misc */
.fa-sign-out-alt {
  position: relative;
  top: 1px;
}

.rounded-circle {
  max-width: 150px;
}

